Repository quarkiverse/quarkus-openapi-generator, pull requests merged in 2025-01, with the labels that each got.

#927 Support `-` on RegisterRestClient#configKey
  client/deployment/src/main/java/io/quarkiverse/openapi/generator/deployment/codegen/OpenApiConfigValidator.java
  client/deployment/src/main/java/io/quarkiverse/openapi/generator/deployment/wrapper/OpenApiClientGeneratorWrapper.java
  client/integration-tests/config-key/src/main/openapi/config-key-with-dash.yaml
  client/integration-tests/config-key/src/main/resources/application.properties
  client/integration-tests/config-key/src/test/java/io/quarkiverse/openapi/generator/configkey/QuarkusConfigKeyWithDashOpenApiTest.java
Labels: backport-main-lts

#942 Fix #933 - Filter oauth security definitions from spec when generating `CompositeAuthenticationProvider`
  client/deployment/src/main/java/io/quarkiverse/openapi/generator/deployment/template/OpenApiNamespaceResolver.java
  client/deployment/src/main/resources/templates/libraries/microprofile/auth/compositeAuthenticationProvider.qute
  client/deployment/src/test/java/io/quarkiverse/openapi/generator/deployment/wrapper/OpenApiClientGeneratorWrapperTest.java
  client/deployment/src/test/resources/openapi/issue-933-security.yaml
Labels: backport-main-lts

#928 Add validation when the input-base-dir is not present
  server/deployment/src/main/java/io/quarkiverse/openapi/server/generator/deployment/codegen/ApicurioOpenApiServerCodegen.java
  server/deployment/src/test/java/io/quarkiverse/openapi/server/generator/deployment/CodegenTest.java
  server/deployment/src/test/resources/io/quarkiverse/openapi/server/generator/deployment/doesNotExistDir.application.properties
Labels: backport-main-lts

#944 Convert client and server modules to use @ConfigMapping
  client/deployment/pom.xml
  client/deployment/src/main/java/io/quarkiverse/openapi/generator/deployment/CodegenConfig.java
  client/deployment/src/main/java/io/quarkiverse/openapi/generator/deployment/CommonItemConfig.java
  client/deployment/src/main/java/io/quarkiverse/openapi/generator/deployment/GlobalCodegenConfig.java
  client/deployment/src/main/java/io/quarkiverse/openapi/generator/deployment/SpecItemConfig.java
  client/runtime/pom.xml
  client/runtime/src/main/java/io/quarkiverse/openapi/generator/AuthsConfig.java
  client/runtime/src/main/java/io/quarkiverse/openapi/generator/OpenApiGeneratorConfig.java
  client/runtime/src/main/java/io/quarkiverse/openapi/generator/SpecItemConfig.java
  server/deployment/pom.xml
  server/deployment/src/main/java/io/quarkiverse/openapi/server/generator/deployment/CodegenConfig.java
Labels: area:server, area:client, backport-main-lts

#956 Small cleanup in README
  README.md
Labels: backport-main-lts

#960 [issues#959] Fix `api.qute` condition to include the `baseUri` to `@RegisterRestClient`
  client/deployment/src/main/resources/templates/libraries/microprofile/api.qute
  client/integration-tests/change-custom-template-directory/src/main/custom/templates/api.qute
  client/integration-tests/custom-templates/src/main/resources/templates/api.qute
Labels: area:client, backport-main-lts

#966 [issues#964] Fix beanValidationCore.qute condition to include the jakarta.validation.Valid annotation
  client/deployment/src/main/resources/templates/libraries/microprofile/beanValidationCore.qute
  client/integration-tests/bean-validation/src/test/java/io/quarkiverse/openapi/generator/it/BeanValidationTest.java
Labels: backport-main-lts
