Repository quarkiverse/quarkus-openapi-generator, pull requests merged in 2025-06, with the labels that each got.

#1163 Fix #1156 - Move AuthProviders SyntheticBean generation to Runtime
  client/deployment/src/main/java/io/quarkiverse/openapi/generator/deployment/GeneratorProcessor.java
  client/integration-tests/override-credential-provider/pom.xml
  client/integration-tests/override-credential-provider/src/main/java/io/quarkiverse/openapi/generator/it/creds/CustomCredentialsProvider.java
  client/integration-tests/override-credential-provider/src/main/openapi/simple-server.yaml
  client/integration-tests/override-credential-provider/src/main/resources/application.properties
  client/integration-tests/override-credential-provider/src/test/java/io/quarkiverse/openapi/generator/it/creds/CustomCredentialsProviderTest.java
  client/integration-tests/override-credential-provider/src/test/java/io/quarkiverse/openapi/generator/it/creds/SimpleServerMockResource.java
  client/integration-tests/pom.xml
  client/oidc/src/main/java/io/quarkiverse/openapi/generator/oidc/OidcAuthenticationRecorder.java
  client/oidc/src/main/java/io/quarkiverse/openapi/generator/oidc/providers/OAuth2AuthenticationProvider.java
Labels: area:client, backport-main-lts

#1184 issue-1182: Token propagation throws java.lang.UnsupportedOperationException when adding the token to the request header parameters
  client/integration-tests/security/src/main/java/io/quarkiverse/openapi/generator/it/security/TokenPropagationResource.java
  client/integration-tests/security/src/test/java/io/quarkiverse/openapi/generator/it/security/TokenPropagationExternalServicesMock.java
  client/integration-tests/security/src/test/java/io/quarkiverse/openapi/generator/it/security/TokenPropagationTest.java
  client/oidc/src/main/java/io/quarkiverse/openapi/generator/oidc/providers/OAuth2AuthenticationProvider.java
  client/runtime/src/main/java/io/quarkiverse/openapi/generator/providers/AbstractAuthProvider.java
  client/runtime/src/main/java/io/quarkiverse/openapi/generator/providers/BasicAuthenticationProvider.java
  client/runtime/src/main/java/io/quarkiverse/openapi/generator/providers/BearerAuthenticationProvider.java
Labels: backport-main-lts

#1190 Fix #1087 - Paths file when generating Java files on Windows
  client/deployment/src/main/java/io/quarkiverse/openapi/generator/deployment/template/OpenApiNamespaceResolver.java
  client/deployment/src/main/java/io/quarkiverse/openapi/generator/deployment/wrapper/OpenApiClientGeneratorWrapper.java
Labels: backport-main-lts

#1193 Fix #1185 - Add additionalProperties when type object has default value and no props
  client/deployment/src/main/java/io/quarkiverse/openapi/generator/deployment/codegen/OpenApiGeneratorCodeGenBase.java
  client/deployment/src/main/java/io/quarkiverse/openapi/generator/deployment/codegen/OpenApiGeneratorOutputPaths.java
  client/deployment/src/main/java/io/quarkiverse/openapi/generator/deployment/wrapper/QuarkusJavaClientCodegen.java
  client/deployment/src/test/java/io/quarkiverse/openapi/generator/deployment/wrapper/OpenApiClientGeneratorWrapperTest.java
  client/deployment/src/test/resources/openapi/issue-1185.json
  docs/modules/ROOT/pages/includes/quarkus-openapi-generator-moqu-wiremock.adoc
  docs/modules/ROOT/pages/includes/quarkus-openapi-generator-moqu-wiremock_quarkus.openapi-generator.adoc
Labels: area:client, backport-main-lts

#1147 Fix logger initialization class reference
  server/deployment/src/main/java/io/quarkiverse/openapi/server/generator/deployment/codegen/ApicurioOpenApiServerCodegen.java
Labels: area:server, backport-main-lts

#1206 [Fix #1205] Making easier inheriting from ConfigCredentialsProvider
  client/runtime/src/main/java/io/quarkiverse/openapi/generator/providers/ConfigCredentialsProvider.java
Labels: area:client, backport-main-lts

#1209 NO-ISSUE: Improving IT to check for duplicated headers
  client/integration-tests/security/src/main/openapi/slack-openapi.json
  client/integration-tests/security/src/main/resources/application.properties
  client/integration-tests/security/src/test/java/io/quarkiverse/openapi/generator/it/security/CheckHeadersBearerTokenTest.java
  client/integration-tests/security/src/test/java/io/quarkiverse/openapi/generator/it/security/WiremockSlackServer.java
Labels: area:client, backport-main-lts

#1224 Added DeepWiki badge so https://deepwiki.com/quarkiverse/quarkus-openapi-generator is automatically updated
  README.md
Labels: backport-main-lts
