Repository quarkiverse/quarkus-openapi-generator, pull requests merged in 2025-03, with the labels that each got.

#1026 [main-lts] - Fix #1022 - Discriminator should only add Jackson JsonSubTypes when there's a parent class
  client/deployment/src/main/resources/templates/libraries/microprofile/pojo.qute
  client/deployment/src/test/java/io/quarkiverse/openapi/generator/deployment/wrapper/OpenApiClientGeneratorWrapperTest.java
  client/deployment/src/test/resources/openapi/issue-1022.json
  docs/modules/ROOT/pages/includes/quarkus-openapi-generator-server_quarkus.openapi.adoc
Labels: cherry-pick :cherries:

#1030 Fix #1029: POJO ignore deprecated in hashcode/equals
  client/deployment/src/main/resources/templates/libraries/microprofile/pojo.qute
Labels: backport-main-lts

#1036 Fixed wrong case in the OpenAPI word in module names and docs
  README.md
  client/deployment/pom.xml
  client/integration-tests/additional-properties/pom.xml
  client/integration-tests/array-enum/pom.xml
  client/integration-tests/bean-validation/pom.xml
  client/integration-tests/beanparam/pom.xml
  client/integration-tests/change-custom-template-directory/pom.xml
  client/integration-tests/change-directory/pom.xml
  client/integration-tests/circuit-breaker/pom.xml
  client/integration-tests/config-key/pom.xml
  client/integration-tests/cookie-authentication/pom.xml
  client/integration-tests/custom-templates/pom.xml
  client/integration-tests/enum-property/pom.xml
  client/integration-tests/enum-unexpected/pom.xml
  client/integration-tests/equals-hashcode/pom.xml
  client/integration-tests/exclude/pom.xml
  client/integration-tests/generate-flags/pom.xml
  client/integration-tests/generation-input/pom.xml
  client/integration-tests/generation-tests/pom.xml
  client/integration-tests/github/pom.xml
  client/integration-tests/include/pom.xml
  client/integration-tests/multipart-request/pom.xml
  client/integration-tests/mutiny-return-response/pom.xml
  client/integration-tests/mutiny/pom.xml
  client/integration-tests/open-api-normalizer/pom.xml
  client/integration-tests/part-filename/pom.xml
  client/integration-tests/path/pom.xml
  client/integration-tests/polymorphism/pom.xml
  client/integration-tests/pom.xml
  client/integration-tests/remove-operationid-prefix/pom.xml
  client/integration-tests/return-response/pom.xml
  client/integration-tests/security/pom.xml
  client/integration-tests/serializable-model/pom.xml
  client/integration-tests/simple/pom.xml
  client/integration-tests/skip-validation/pom.xml
  client/integration-tests/suffix-prefix/pom.xml
  client/integration-tests/type-mapping/pom.xml
  client/integration-tests/without-oidc/pom.xml
  client/oidc/pom.xml
  client/pom.xml
  client/runtime/pom.xml
  client/test-utils/pom.xml
  docs/antora.yml
  docs/pom.xml
  pom.xml
  server/deployment/pom.xml
  server/integration-tests/pom.xml
  server/integration-tests/reactive/pom.xml
  server/integration-tests/resteasy/pom.xml
  server/pom.xml
  server/runtime/pom.xml
Labels: backport-main-lts

#826 Add moqu and wiremock module
  client/deployment/pom.xml
  docs/modules/ROOT/assets/images/moqu-devui-card-framework.png
  docs/modules/ROOT/assets/images/table-wiremock.png
  docs/modules/ROOT/nav.adoc
  docs/modules/ROOT/pages/includes/quarkus-openapi-generator-moqu-wiremock.adoc
  docs/modules/ROOT/pages/includes/quarkus-openapi-generator-moqu-wiremock_quarkus.adoc
  docs/modules/ROOT/pages/includes/quarkus-openapi-generator-moqu-wiremock_quarkus.openapi-generator.adoc
  docs/modules/ROOT/pages/includes/quarkus-openapi-generator_quarkus.adoc
  docs/modules/ROOT/pages/moqu.adoc
  moqu/core/pom.xml
  moqu/core/src/main/java/io/quarkiverse/openapi/moqu/Moqu.java
  moqu/core/src/main/java/io/quarkiverse/openapi/moqu/MoquImporter.java
  moqu/core/src/main/java/io/quarkiverse/openapi/moqu/MoquMapper.java
  moqu/core/src/main/java/io/quarkiverse/openapi/moqu/OpenAPIMoquImporter.java
  moqu/core/src/main/java/io/quarkiverse/openapi/moqu/ParameterType.java
  moqu/core/src/main/java/io/quarkiverse/openapi/moqu/SchemaReader.java
  moqu/core/src/main/java/io/quarkiverse/openapi/moqu/marshall/ObjectMapperFactory.java
  moqu/core/src/main/java/io/quarkiverse/openapi/moqu/model/Header.java
  moqu/core/src/main/java/io/quarkiverse/openapi/moqu/model/Operation.java
  moqu/core/src/main/java/io/quarkiverse/openapi/moqu/model/Parameter.java
  moqu/core/src/main/java/io/quarkiverse/openapi/moqu/model/Request.java
  moqu/core/src/main/java/io/quarkiverse/openapi/moqu/model/RequestResponsePair.java
  moqu/core/src/main/java/io/quarkiverse/openapi/moqu/model/Response.java
  moqu/core/src/main/java/io/quarkiverse/openapi/moqu/wiremock/mapper/WiremockMapper.java
  moqu/core/src/main/java/io/quarkiverse/openapi/moqu/wiremock/model/WiremockMapping.java
  moqu/core/src/main/java/io/quarkiverse/openapi/moqu/wiremock/model/WiremockRequest.java
  moqu/core/src/main/java/io/quarkiverse/openapi/moqu/wiremock/model/WiremockResponse.java
  moqu/core/src/test/java/io/quarkiverse/openapi/moqu/OpenAPIMoquImporterTest.java
  moqu/core/src/test/java/io/quarkiverse/openapi/moqu/TestUtils.java
  moqu/core/src/test/java/io/quarkiverse/openapi/moqu/wiremock/mapper/WiremockMapperTest.java
  moqu/core/src/test/java/io/quarkiverse/openapi/moqu/wiremock/mapper/WiremockPathParamTest.java
  moqu/core/src/test/resources/wiremock/full.yml
  moqu/core/src/test/resources/wiremock/mapper/should_map_one_wiremock_definition.yml
  moqu/core/src/test/resources/wiremock/mapper/should_map_two_wiremock_definition.yml
  moqu/core/src/test/resources/wiremock/one_example_in_the_same_path.yml
  moqu/core/src/test/resources/wiremock/path_param_one_path_param.yml
  moqu/core/src/test/resources/wiremock/path_param_two_params_but_different_path.yml
  moqu/core/src/test/resources/wiremock/path_param_two_path_params_combination.yml
  moqu/core/src/test/resources/wiremock/path_param_two_path_params_only_one_with_example.yml
  moqu/core/src/test/resources/wiremock/response_from_ref.yml
  moqu/core/src/test/resources/wiremock/response_from_ref_and_noref.yml
  moqu/core/src/test/resources/wiremock/response_from_ref_array.yml
  moqu/core/src/test/resources/wiremock/two_examples_in_the_same_path.yml
  moqu/deployment/pom.xml
  moqu/deployment/src/main/java/io/quarkiverse/openapi/generator/MoquProjectProcessor.java
  moqu/deployment/src/main/java/io/quarkiverse/openapi/generator/MoquWiremockProcessor.java
  moqu/deployment/src/main/java/io/quarkiverse/openapi/generator/devui/MoquModel.java
  moqu/deployment/src/main/java/io/quarkiverse/openapi/generator/devui/MoquWiremockDevUIProcessor.java
  moqu/deployment/src/main/java/io/quarkiverse/openapi/generator/items/MoquBuildItem.java
  moqu/deployment/src/main/java/io/quarkiverse/openapi/generator/items/MoquProjectBuildItem.java
  moqu/deployment/src/main/resources/dev-ui/qwc-moqu.js
  moqu/deployment/src/test/java/io/quarkiverse/openapi/generator/MoquProjectProcessorTest.java
  moqu/deployment/src/test/resources/api.yaml
  moqu/deployment/src/test/resources/apiv2.json
  moqu/pom.xml
  moqu/runtime/pom.xml
  moqu/runtime/src/main/java/io/quarkiverse/openapi/generator/moqu/MoquConfig.java
  moqu/runtime/src/main/java/io/quarkiverse/openapi/generator/moqu/recorder/MoquRoutesRecorder.java
  moqu/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  pom.xml
Labels: backport-main-lts

#1046 Fix #1038 - Do not register duplicated AuthProviders SyntheticBeans
  client/deployment/src/main/java/io/quarkiverse/openapi/generator/deployment/GeneratorProcessor.java
  client/deployment/src/main/resources/templates/libraries/microprofile/auth/compositeAuthenticationProvider.qute
  client/deployment/src/main/resources/templates/libraries/microprofile/auth/headersFactory.qute
  client/deployment/src/test/java/io/quarkiverse/openapi/generator/deployment/authentication/OpenApiSpecProviderTest.java
  client/deployment/src/test/java/io/quarkiverse/openapi/generator/deployment/authentication/OperationTest.java
  client/runtime/src/main/java/io/quarkiverse/openapi/generator/AuthenticationRecorder.java
  client/runtime/src/main/java/io/quarkiverse/openapi/generator/providers/AbstractAuthenticationPropagationHeadersFactory.java
  client/runtime/src/main/java/io/quarkiverse/openapi/generator/providers/BaseCompositeAuthenticationProvider.java
Labels: area:client, backport-main-lts

#1015 Upgrade apicurio-codegen
  docs/modules/ROOT/pages/includes/server-getting-started.adoc
  pom.xml
  server/integration-tests/reactive/pom.xml
  server/integration-tests/resteasy/pom.xml
Labels: backport-main-lts

#1052 Fix #1045 - Refactor inputExtension method to inputExtensions
  client/deployment/src/main/java/io/quarkiverse/openapi/generator/deployment/codegen/OpenApiGeneratorCodeGen.java
  client/deployment/src/main/java/io/quarkiverse/openapi/generator/deployment/codegen/OpenApiGeneratorCodeGenBase.java
  client/deployment/src/main/java/io/quarkiverse/openapi/generator/deployment/codegen/OpenApiGeneratorJsonCodeGen.java
  client/deployment/src/main/java/io/quarkiverse/openapi/generator/deployment/codegen/OpenApiGeneratorOutputPaths.java
  client/deployment/src/main/java/io/quarkiverse/openapi/generator/deployment/codegen/OpenApiGeneratorYamlCodeGen.java
  client/deployment/src/main/java/io/quarkiverse/openapi/generator/deployment/codegen/OpenApiGeneratorYmlCodeGen.java
  client/deployment/src/main/resources/META-INF/services/io.quarkus.deployment.CodeGenProvider
  client/integration-tests/circuit-breaker/src/test/java/io/quarkiverse/openapi/generator/it/circuit/breaker/SimpleOpenApiTest.java
Labels: backport-main-lts

#1062 Add initial report draft
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
Labels: area:documentation, backport-main-lts

#1069 Add description to server/runtime/pom.xml
  server/runtime/pom.xml
Labels: area:server, backport-main-lts
